body {
    background-color: rgb(138, 184, 226);
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}

p, label{
    font-weight: bold;
}

fieldset {
    max-width: 400px;
    margin: 10px auto;
    padding: 30px;
    background-color: #9ac0e7;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(95, 95, 95);
}


input[type="text"], input[type="number"], textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="radio"], input[type="checkbox"] {
    display: inline-block;
    margin-right: 50px;
}


#botones {
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    margin: 0 auto;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



input[type="reset"] {
    background-color: #1a5ca1;
    color: #fff;
    padding: 5px 10px;
    margin-right: 220px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


input:focus,
textarea:focus {
    border-color: #007BFF;
    outline: none;
}